NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=<your_publishable_api_key_from_admin_panel>
NEXT_PUBLIC_DEFAULT_REGION=in

# GPAY Merchant Settings
NEXT_PUBLIC_GOOGLE_PAY_MERCHANT_ID=<your_gpay_merchant_id>
NEXT_PUBLIC_GOOGLE_PAY_MERCHANT_NAME="<your_gpay_merchant_name>"
NEXT_PUBLIC_MERCHANT_UPI_VPA=<your_merchant_upi_vpa_address>
# Toggle between 'TEST' (for sandbox testing) and 'PRODUCTION' (for live billing)
NEXT_PUBLIC_GOOGLE_PAY_ENVIRONMENT=TEST

# Medusa Payments (Not used for Google Pay, can remain empty)
NEXT_PUBLIC_MEDUSA_PAYMENTS_PUBLISHABLE_KEY=
NEXT_PUBLIC_MEDUSA_PAYMENTS_ACCOUNT_ID=
